@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color:black;
    color: #f6f6f6;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.curriculo {
    padding: 2% 0% 2% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.curriculo__formatacao{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.curriculo__meunome {
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    color: #f6f6f6;
}

.curriculo__texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #f6f6f6;
}

.curriculo__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    color: #f6f6f6;
}

.curriculo__lista__titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #f6f6f6;
    font-weight: bold;
    list-style: square;
}

.curriculo__lista {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #f6f6f6;
    list-style: none;
    font-weight: none;
}

.rodape {
    padding: 24px;
    color: black;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}